@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 38% 97%;

    --salmon: 18 100% 90%;

    --blue-gray-900: 204 25% 16%;
    --blue-gray-50: 207 26% 93%;
    --purple-gray: 234 16% 42%;
    --midnight-gray: 206 21% 38%;

    --midnight-purple: 248 26% 32%;
    --midnight-purple-hover: 248 22% 47%;
    --midnight-purple-active: 248 41% 20%;

    --light-purple: 248, 78%, 81%, 0;
    --light-purple-hover: 248, 78%, 81%, 0.1;
    --light-purple-active: 248, 78%, 81%, 0.25;
  }
}
